body{
    font-family: 'Jockey One', sans-serif;

    background-color: #3a577d;
}

h1{
    font-weight: bold;
    text-align: center;
    font-size: 7em;
    color: #fffd62;
    text-shadow: 4px 4px 0px #000000;

    margin-top: 1em;
}

.play-row{
    text-align: center;
}

.play-link{
    text-align: center;
    font-size: 2.5em;
    color: white;
    background-color: #00C6FF;
    padding: 0.6em 2.2em;

    transition: 0.2s;
}

.play-link:hover{
    background-color: #0098c2;
    padding: 0.6em 3em;
}

footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: -5px;

    z-index: -1;
}

footer p{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer p a{
    background-color: rgba(0, 198, 255, 0.7);
    color: white;
    padding: 0.5em 1.5em;
    font-size: 1.3em;
    transition: 0.2s;
}

footer p a:hover{
    background-color: rgba(0, 198, 255, 1);
    padding: 0.5em 2em;
}

.buildings{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(84,167,230,0.3) 100%);
    z-index: -5;
}

.buildings img{
    margin-right: 1em;
    margin-left: 1em;
}

.buildings .bd-1{
    width: 15em;
    z-index: -10;
}

.buildings .bd-2{
    width: 20em;
    z-index: -10;
}

.buildings .bd-3{
    width: 10em;
    z-index: -10;
}

@media(max-width: 768px){
    h1{
        font-size: 5em;
    }
}